<template>

	<div class="container_fluid">
		<div class="full-h row margin-00">
			<div class="full-h full-w absolute"></div>
			<div class="col-6">
				<div id="image" class="row h-85 mood-image home"></div>

			</div>
			<div class="col-6 nav-section">
				<div class="options-section">
					<h4 class="h4 t-left this">This is</h4>
					<img class="no-paddings" src="../assets/images/logo.svg" alt="mood logo" width=350>
					<div class="b-text">

						<p class="mood-p">Today’s current mood favours flexibility and adaptability, whilst optimizing the available
							resources to achieve more. When a product is developed with that purpose in mind, return increases due to enhanced functionality. <br><br>The design approach that led to Moobo’s first approach at modularity, Mood, was sectional, function-based development; each carefully designed section playing a significant part in Mood’s overall aesthetics and functionality. <br><br> The result – an interactive solution that is flexible and easily adaptable to different spaces and needs. The standard kiosk that looks and feels custom made. Whether you want to provide an interactive experience, an autonomous shopping experience, or anything in between, Mood is the answer.</p>
					</div>

					<div style="display:inline-block" class="button-section">
						<a class="btn mood-buttons" href="product" role="button">Simulate Order</a>
						<p style="margin-top:10px; color:gray;">Get a Special ISE price!</p>
					</div>
				</div>


			</div>
		</div>
		<div class="row textures-section margin-00">
			<div class="col-12 center-div" data-aos="fade-right" data-aos-duration="1000">
				<div class="options-section">
					<h2 class="h2 t-center">An Array Of Textures</h2>
					<h4 class=" t-center">Get the look you're going for</h4>
					<p class="mood-p" style="padding-top:30px; margin:0 auto; width:600px">Mood can adopt different looks – metal, glass, solid surface, textile, leather – each
						with different finishes and colours, providing an interactive solution able to deliver
						a cohesive look and feel with the most diverse environments</p>
				</div>
			</div>

		</div>
		<div class="row texture-wrap margin-00">
			<div class="col array-textures metal"></div>
			<div class="col array-textures glass"></div>
			<div class="col array-textures wood"></div>
			<div class="col array-textures fabric"></div>
			<div class="col array-textures corian"></div>
			<div class="col array-textures leather"></div>

		</div>
		<div class="row row-gray margin-00">
			<div class="col-5 modular-approach h-80" data-aos="fade-right" data-aos-duration="1000">
				<div class="options-section">
					<h2 class="h2">Modular Approach</h2>
					<h3 class=" t-left">Endless possibilities</h3>
					<div class="">
						<p class="mood-p" style="padding-top: 30px">
							Modularity promotes synergies between reliability and affordability, providing a hedge against obsolescence. Mood answers a vast range of requests with flair, offering dedicated kiosks tailored to each purpose, with a custom look and feel. Aesthetically consistent modules are easily integrated in a standard body, assuring coherency across locations.
						</p>
					</div>
				</div>
			</div>
			<div class="col-6" data-aos="fade-right">				
				<img style="margin-top:50px; padding-bottom:50px;" src="../assets/images/modular-approach.png" width="700px">
			</div>
		</div>

		<div class="row full-h margin-00 bg-img">
				<div class="center-center t-bold bottom-div">
					<h4 class="">Simulate now to get <br> a special ISE price</h4><br>
					<div style="display:inline-block" class="">
						<a class="btn mood-buttons" href="product" role="button">Simulate Order</a>
					</div>
				</div>

		</div>
	</div>


</template>

<script>


</script>
	

<style lang="scss">
	body {
		font-family: 'Poppins', sans-serif;
		max-width: 100%;
    	overflow-x: hidden;
    	webkit-scrollbar:hidden;
    	scrollbar: hidden;
	}

	.margin-00{
		margin-left:0 !important;
		margin-right: 0 !important;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.padding-20 {
		padding: 20px;
	}


	.center-div {
		margin: 0 auto;
	}

	ul {
		padding: 0;
		list-style-type: none;
	}

	.full-h {
		height: 100vh;
		width: 100%;
	}

	.h-85 {
		height: 85vh !important;
	}

	.h-75 {
		height: 75vh;
	}

	.h-80 {
		height: 80vh !important;
	}

	.h4 {
		margin-bottom: 10px;
		font-weight: 600;
	}

	.h2 {
		margin-bottom: 10px;
		font-weight: 800;
		font-size: 48px;
	}
	
	.texture-wrap{
		height: 400px;
		padding-left:40px;
		padding-right:40px;
	}

	.modular-approach{
		margin-top: 50px;
		text-align: left;
		padding-left: 60px;
	}

	.row-gray{
		background-color: #f2f2f2;
	}

	.row-yellow{
		background-color: #ffc107;
	}
	
	.mood-buttons{
		color: #fff;
    	font-weight: bold;
    	padding: 10px 15px;
    	background-color: #ffc107;
	}
	
	.bg-img{
		background-image: url("../assets/images/scene-room.jpg");
		background-size: 100%;
		position:relative;
	}
	
	.bottom-div{
		background: rgba(255,255,255,0.9);
		padding: 50px;
		max-height: 250px;
		margin-top:20% !important;
		border-radius: 10px;
		box-shadow: 0 1px 15px 0 rgba(0,0,0,0.10);
	}


	
	
	.array-textures {
		background-size: 300%;
		background-position: top center;
		background-repeat: no-repeat;
		overflow: hidden;
		&.metal {
			background-image: url('../assets/images/metal-yellow.png');
		}
		&.leather {
			background-image: url('../assets/images/leather.png');
		}
		&.glass {
			background-image: url('../assets/images/glass.png');
		}
		&.corian {
			background-image: url('../assets/images/corian.png');
		}
		&.fabric {
			background-image: url('../assets/images/fabric.png');
		}
		&.wood {
			background-image: url('../assets/images/wood.png');
		}
	}
	
	.bg-gray{
		background-color: #f2f2f2;
	}

	.textures-section{
		margin-top:100px;
	}



	.test {
		width: 100%;
	}

	.t-center {
		text-align: center;
	}

	.t-left {
		text-align: left;
	}

	.t-right {
		text-align: right;
	}

	.t-bold {
		font-weight: 700;
	}

	.this {
		margin-left: 12px;
	}

	.b-text {
		max-width: 500px;
		font-size: 14px;
		margin: 30px 0 10px 0;
	}

	.b-text2 {
		max-width: 500px;
		font-size: 20px;
		margin: 30px 0 10px 0;
	}

	.mood-logo {
		margin-left: 30px;
		margin-top: 30px;
		position: absolute;
	}

	.nav-section {
		padding: 20px;
		background-color: white;
		height: 100vh;
		width: 100%;
	}

	.options-section {
		margin-top: 30px;
	}

	.materials {
		margin: 0 auto;
	}

	.material {
		width: auto;
		height: 50px;
		background-color: white;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 5px solid #f2f2f2;
		background-size: cover;
		text-align: center;
	}

	.module {
		width: auto;
		height: 50px;
		background-color: white;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 5px solid #f2f2f2;
		background-size: cover;
	}

	.material.selected {
		border: 5px solid #4a4a4a;
	}

	.module.selected {
		border: 5px solid #4a4a4a;
	}

	.option {
		margin-bottom: 15px;
	}

	.center-center {
		text-align: center;
		margin: 0 auto;
	}

	.material-name {
		font-size: 14px !important;
		text-align: center;
		bottom: 0;
	}

	.material.leather {
		background-image: url('../assets/images/leather-txt.jpg');
	}

	.material.glass {
		background-image: url('../assets/images/glass-txt.jpg');
	}

	.material.metal {
		background-image: url('../assets/images/metal-txt.jpg');
	}

	.material.wood {
		background-image: url('../assets/images/wood-txt.jpg');
	}

	.material.fabric {
		background-image: url('../assets/images/fabric-txt.jpg');
	}

	.material.corian {
		background-color: ghostwhite;
	}

	.module.simple {
		background-image: url('../assets/images/modules/no-module.png');
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.button-section {
		margin-top: 30px;

	}

	.button-section button {
		margin-left: 35px;
	}

	.mood-button {
		padding: 25px 30px 30px;
		border-radius: 100px;
		border: none;
		font-size: 20px;
		font-weight: 700;
	}

	.mood-button {
		padding: 25px 30px 30px;
		border-radius: 100px;
		border: none;
		font-size: 20px;
		font-weight: 700;
	}

	.mood-button.light {
		background-color: #0075c9;
		opacity: 0.5;
		color: white;
	}

	.mood-button.blue {
		background-color: #0075c9;
		color: white;
	}

	.image-section {
		background-color: #f2f2f2;
		height: 100vh;
	}

	.mood-image {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.bg-centered {
		background-position: center center;
	}

	.bg-center-top {
		background-position: top center;
	}

	.bg-cover {
		background-size: cover;
	}

	.bg-contain {
		background-size: contain;
	}

	$material-collection: ('metal', 'glass', 'leather', 'corian', 'wood', 'fabric');
	$color-collection: (black, white, blue, red, yellow, green);
	$module-collection: ('payment', 'info', 'printer');


	@each $color in $color-collection {
		.material {
			&.#{$color} {
				background-color: $color;
			}
		}
	}

	@each $module in $module-collection {
		.mood-image {
			&.#{$module} {
				background-image: url('../assets/images/modules/#{$module}'+'.png');
			}
		}
	}

	@each $material in $material-collection {
		.mood-image {
			height: 100vh;
			width: 100%;

			&.#{$material} {
				@if $material=='metal' {
					@each $color in $color-collection {
						&.#{$color} {
							background-image: url('../assets/images/#{$material}'+'-#{$color}'+'.png');

						}
					}
				}

				@else {
					background-image: url('../assets/images/#{$material}'+'.png');

				}
			}
		}
	}


	.mood-image.home {
		background-image: url('../assets/images/home.jpg');
		background-size: contain;
		background-position: top left;
		margin-left: 50px;
		margin-top: 40px;
		margin-bottom: 50px;
		padding-bottom: 50px;
	}

	.mood-image.home-middleL-img {
		background-image: url('../assets/images/modular-approach.png');
		background-size: contain;
		background-position: top left;
		margin-left: -50px;
		margin-top: 20px;
	}


	.material-wrapper {
		width: auto;
	}

	no-paddings {
		padding: 0 !important;
		margin: 0 !important;
	}

	.materials-wrapper {
		margin-top: 30px;
	}

	.absolute {
		position: absolute;
		z-index: -1;
		background-image: url('../assets/images/backgroun-ms.png');
		background-size: contain;
	}

	.home-middle {
		margin-left: 100px;
	}

	.single-r {
		margin: 0 auto;
	}

	.single-t {
		margin: 0 auto;
	}

	.drop-shadow-img {
		box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.24);
	}

	.hide {
		display: none;
	}

	.show {
		display: block;
	}

	.mood-input {
		margin-left: 30px;
		border: none;
		border-bottom: 2px solid black;
		padding-left: 10px;
		min-width: 50px;
		height: 40px;
	}

	.modal-dialog {
		max-width: 800px;
		margin-top: 10px;

		header {
			background-color: #ffce34;
			color: white;
			text-align: center;

			h5 {
				font-weight: 600;
				padding: 15px;
			}
		}
	}


	.mood-form {
		display: inline-block;
	}

	#module {
		background-color: transparent;
		position: absolute;
	}

	#image {
		background-color: transparent;
		position: absolute;
	}

	btn-right {
		margin: 25px;
		width: 100% !important;
	}

	.simple-keyboard {
		margin-top: 30px;
	}


	.group {
		position: relative;
		margin-bottom: 45px;
	}

	input {
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid #757575;
	}

	input:focus {
		outline: none;
	}


	/* LABEL ======================================= */
	label {
		color: #999;
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}


	/* active state */
	input:focus~label,
	input:valid~label {
		top: -20px;
		font-size: 14px;
		color: #5264AE;
	}

	/* BOTTOM BARS ================================= */
	.bar {
		position: relative;
		display: block;
		width: 300px;
	}

	.bar:before,
	.bar:after {
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: #5264AE;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	/* active state */
	input:focus~.bar:before,
	input:focus~.bar:after {
		width: 255.5%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
		position: absolute;
		height: 60%;
		width: 100%;
		top: 25%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;
	}

	/* active state */
	input:focus~.highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@-moz-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@keyframes inputHighlighter {
		from {
			background: #5264AE;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	.lead {
		margin-top: 50px;
	}

</style>
