<template>
	<div class="container_fluid">
		<div class="full-h row">
			<div class="col-6 image-section" data-aos="fade-right">
				<a href="/" class="mood-logo" >
					<img class="" src="../assets/images/logo.svg" alt="mood logo" width="150" height="auto">
				</a>

				<div id="image" :class="['row','full-h','product','mood-image', background, color]" />
				<div id="module" :class="['row','full-h','mood-image', module]" />
				
			</div>
			<div class="col-6 nav-section">
				<div>
					<div class="row materials">
						<div class="col-12">
							<h4 class="h5 t-left">Choose a Material</h4>
							<ul class="row materials-wrapper">
								<li v-for="(material, index) in materials" :key="index" :class="['col-2', 'option']">
									<a @click="addMaterial(material)">
										<div id="" :class="[{selected: material.clicked},'material', material.name]"/>{{ material.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row materials">
						<div class="col-12">
							<h4 class="h5 t-left">Choose a Module</h4>
							<ul class="row materials-wrapper">
								<li v-for="(module, index) in modules" :key="index" :class="['col-2', 'option']">
									<a @click="addModule(module)">
										<div id="" :class="[{selected: module.clicked},'module', module.name]"/>{{ module.name }}
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div id="colors" :class="['row','materials', visibility]">
						<div class="col-12">
							<h4 class="h5 t-left">Choose a Color</h4>
							<ul class="row materials-wrapper">
								<li v-for="(color, index) in colors" :key="index" class="col-2 option">
									<a @click="addColor(color)">
										<div :class="[{selected: color.clicked}, 'material', color.name]"/>{{ color.name }}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="button-section">

						<b-button class="mood-buttons" @click="showModal">
						  Get Quote
						</b-button>
						<b-modal ref="myModalRef" hide-footer title="Get a Quote for Mood" class="mood-modal">
						  <div class="d-block text-center ">
						  </div>
							<div class="">
								<form class= "lead">  
									<div class="group">      
										<input 
										  id="default"	
										  v-model = "lead.email" 
										  type="text">
										<span class="highlight"></span>
										<span class="bar"></span>
										<label>Please enter your email</label>
								   </div>
									<a
									  class="btn mood-buttons btn-md btn-right"
									  href="thank-you"
									  role="button"
									  @click="saveLead">Get Quote</a>
								</form>
								<div class="simple-keyboard"/>	
						   </div>
						</b-modal>
					</div>
				</div>
			</div>
		</div>
			
	</div>

</template>

<script>
	import Keyboard from 'simple-keyboard'
	import 'simple-keyboard/build/css/index.css'

	export default {
		components: {},
		data() {
			return {
				materials: [
					{
					   name: 'metal',
					   clicked: true,
					},
					{
					   name: 'leather',
					   clicked: false
					},
					{
					   name: 'glass',
					   clicked: false
					},
					{
					   name: 'corian',
					   clicked: false
					},
					{
					   name: 'wood',
					   clicked: false
					},
					{
					   name: 'fabric',
					   clicked: false
					},
					],
				modules: [
					{
					   name: 'simple',
					   clicked: true,
					},
					{
					   name: 'payment',
					   clicked: false
					},
					{
					   name: 'info',
					   clicked: false
					},
					{
					   name: 'printer',
					   clicked: false
					},
					],
				
				colors: [
					{
					   name: 'black',
					   clicked: true,
					},
					{
					   name: 'white',
					   clicked: false
					},
					{
					   name: 'blue',
					   clicked: false
					},
					{
					   name: 'red',
					   clicked: false
					},
					{
					   name: 'yellow',
					   clicked: false
					},
					{
					   name: 'green',
					   clicked: false
					},
					],
				quote: {
					material: 'metal',
					module: 'simple',
					color: 'black'
				},
				lead: {
					email: '',
					material: '',
					module: '',
					color: ''
				},
				background: 'metal',
				color: 'black',
				defaultC: 'black',
				selected: 'selected',
				visibility: 'show',
				module: 'simple'
			}
		},
		mounted() {
		  new Keyboard({
      		onChange: input => {
				this.lead.email = input
				
      		},
			onKeyPress: input => {
			  if (input === '{enter}') {
				this.saveLead()
        }
      }
    })
  },
		methods: {
			saveLead() {
				this.$axios
					.post('/leads', this.lead)
					.then(console.log)
					.catch(console.log)
			},
			addMaterial(material) {
				this.materials.forEach(function(entry) {
					entry.clicked = false;
				});
				material.clicked = true
				this.quote.material = material.name
				if (material.name == 'metal') {
					this.background = 'metal'
					this.visibility = 'show'
					this.selected = 'selected'
				} else {
					this.selected = 'selected'
					this.visibility = 'hide'
					this.background = material.name
					this.quote.color = ''
				}
			},
			addModule(module) {
				this.modules.forEach(function(entry) {
					entry.clicked = false;
				});
				module.clicked = true
				this.module = module.name
				this.quote.module = module.name
			},
			addColor(color) {
				this.colors.forEach(function(entry) {
					entry.clicked = false;
				});
				color.clicked = true
				this.color = color.name
				this.quote.color = color.name
			},
			printQuote(){
				console.log(this.quote)
			},
			showModal () {
      			this.$refs.myModalRef.show()
				this.lead.material = this.quote.material
				this.lead.module = this.quote.module
				if (this.lead.material == 'metal'){
					this.lead.color = this.quote.color
				}
				else{
					this.lead.color = ''
				}
    		},
			hideModal () {
      			this.$refs.myModalRef.hide()
    		}
		}
	}
</script>

<style lang="scss">
	body {

		font-family: 'Poppins', sans-serif;
	}
	
	::-webkit-scrollbar { 
    display: none; 
}
	
	.high-index{
		display: inline-block;

	}

	ul {
		padding: 0;
		list-style-type: none;
	}

	.full-h {
		height: 100vh;
		width: 100%;
	}

	.h-85 {
		height: 85vh;
	}

	.h-75 {
		height: 80vh;
	}

	.h4 {
		margin-bottom: 10px;
		font-weight: 600;
	}

	.h2 {
		margin-bottom: 10px;
		font-weight: 800;
		font-size: 48px;
	}



	.test {
		width: 100%;
	}

	.t-center {
		text-align: center;
	}

	.t-left {
		text-align: left;
	}

	.t-right {
		text-align: right;
	}

	.t-bold {
		font-weight: 700;
	}

	.this {
		margin-left: 12px;
	}

	.b-text {
		max-width: 500px;
		font-size: 14px;
		margin: 30px 0 10px 0;
	}

	.b-text2 {
		max-width: 500px;
		font-size: 20px;
		margin: 30px 0 10px 0;
	}

	.mood-logo {
		margin-left: 30px;
		padding-top: 30px;
		position: absolute;
		z-index: 10;
	}

	.nav-section {
		padding: 50px;
		background-color: white;
		height: 100vh;
		width: 100%;
	}

	.options-section {
		margin-top: 30px;
		margin-left: 50px;
	}

	.materials {
		margin: 0 auto;
	}

	.material {
		width: auto;
		height: 50px;
		background-color: white;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 5px solid #f2f2f2;
		background-size: cover;
		text-align: center;
	}

	.module {
		width: auto;
		height: 50px;
		background-color: white;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 5px solid #f2f2f2;
		background-size: cover;
	}

	.material.selected {
		border: 5px solid #4a4a4a;
	}

	.module.selected {
		border: 5px solid #4a4a4a;
	}

	.option {
		margin-bottom: 15px;
		text-align: center;
	}

	.center-center {
		text-align: center;
		margin: 0 auto;
	}

	.material-name {
		font-size: 14px !important;
		text-align: center;
		bottom: 0;
	}

	.material.leather {
		background-image: url('../assets/images/leather-txt.jpg');
	}

	.material.glass {
		background-image: url('../assets/images/glass-txt.jpg');
	}

	.material.metal {
		background-image: url('../assets/images/metal-txt.jpg');
	}

	.material.wood {
		background-image: url('../assets/images/wood-txt.jpg');
	}
	
	.material.fabric {
		background-image: url('../assets/images/fabric-txt.jpg');
	}

	.material.corian {
		background-color: ghostwhite;
	}

	.module.simple {
		background-image: url('../assets/images/modules/no-module.png');
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.module.payment {
		background-image: url('../assets/images/modules/payment-module.png');
		background-position: center center;
		-webkit-background-size: 80%;
		-moz-background-size: 80%;
		-o-background-size: 80%;
		background-size: 80%;
		background-repeat: no-repeat;
	}
	.module.printer {
		background-image: url('../assets/images/modules/printer-module.png');
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.module.info {
		background-image: url('../assets/images/modules/info-module.png');
		background-position: center center;
		-webkit-background-size: 80%;
		-moz-background-size: 80%;
		-o-background-size: 80%;
		background-size: 90%;
		background-repeat: no-repeat;
	}

	.button-section {
		margin-top: 30px;
		float: right;
	}

	.button-section button {
		margin-left: 35px;
	}
	
	.mood-buttons{
		color: #fff;
    	font-weight: bold;
    	padding: 10px 15px;
    	background-color: #ffc107;
		border:none;
	}
	

	.mood-button {
		padding: 25px 30px 30px;
		border-radius: 100px;
		border: none;
		font-size: 20px;
		font-weight: 700;
	}

	.mood-button {
		padding: 25px 30px 30px;
		border-radius: 100px;
		border: none;
		font-size: 20px;
		font-weight: 700;
	}

	.mood-button.light {
		background-color: #0075c9;
		opacity: 0.5;
		color: white;
	}

	.mood-button.blue {
		background-color: #0075c9;
		color: white;
	}

	.image-section {
		background-color: #d0d0d0;
		height: 100vh;
	}

	.mood-image {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.bg-centered {
		background-position: center center;
	}

	.bg-center-top {
		background-position: top center;
	}

	.bg-cover {
		background-size: cover;
	}

	.bg-contain {
		background-size: contain;
	}

	$material-collection: ('metal', 'glass', 'leather', 'corian', 'wood', 'fabric');
	$color-collection: (black, white, blue, red, yellow, green);
	$color-bg: (#000000, #ffffff, #70abcc, #b94646, #ffc14d, #96d6b0);
	$module-collection: ('payment','info','printer');

	
	@each $color in $color-collection {
		.material {
		  &.#{$color} {
			background-color: $color;
		  }
		}
	}
	
	@for $i from 1 through 6 {
		.material {
			&.#{nth($color-collection, $i)}{
				background-color: nth($color-bg, $i)
			}
		}
	}
	
	
	@each $module in $module-collection {
		.mood-image{
		  &.#{$module} {
			background-image: url('../assets/images/modules/#{$module}'+'.png');
		  }
		}
	}
	
	@each $material in $material-collection {
		.mood-image {
		  height: 100vh;
		  width: 100%;
			&.#{$material} {
				@if $material =='metal' {
					@each $color in $color-collection {
						&.#{$color} {
							background-image: url('../assets/images/#{$material}'+'-#{$color}'+'.png');
							
						}
					}
				}

				@else {
					background-image: url('../assets/images/#{$material}'+'.png');

				}
			}
		}
	}

	.material-wrapper {
		width: auto;
	}

	no-paddings {
		padding: 0 !important;
		margin: 0 !important;
	}

	.materials-wrapper {
		margin-top: 30px;
	}

	.absolute {
		position: absolute;
		z-index: -1;
		background-image: url('../assets/images/backgroun-ms.png');
		background-size: contain;
	}

	.home-middle {
		margin-left: 100px;
	}

	.single-r {
		margin: 0 auto;
	}

	.single-t {
		margin: 0 auto;
	}

	.drop-shadow-img {
		box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.24);
	}

	.hide {
		display: none;
	}

	.show {
		display: block;
	}

	.mood-input {
		margin-left: 30px;
		border: none;
		border-bottom: 2px solid black;
		padding-left: 10px;
		min-width: 50px;
		height: 40px;
	}
	
	.modal-dialog{
		max-width: 800px;
		margin-top: 10px;
		header {
			background-color: #ffce34;
			color: white;
			text-align: center;
			
			h5 {
				font-weight: 600;
				padding:15px;
			}
		}
	}
	

	.mood-form {
		display: inline-block;
	}

	#module {
		background-color: transparent;
		position: absolute;
	}

	#image {
		background-color: transparent;
		position: absolute;
	}
	
	btn-right{
		margin: 25px;
		width: 100% !important;
	}
	
	.simple-keyboard{
		margin-top: 30px;
	}
	
	
	.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

	
/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:255.5%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
	
	.lead{
		margin-top:50px;
	}

</style>
