<template>
	<div class="container_fluid">
		<div class="full-h row">
			<div class="centered">
			<h1>Thank You for you interest</h1>
			<h2>We'll be in touch very soon</h2>
			<a href="/" class="btn btn-primary btn-md margin-top-50">Back to Home</a>
			</div>
		</div>
			
	</div>

</template>

	

<style lang="scss">
	body {

		font-family: 'Poppins', sans-serif;
	}
	
	.centered{
		margin: 0 auto;
		text-align: center;
		margin-top:10%;
	}
	
	.margin-top-50{
		margin-top: 50px;
		padding: 20px;
		font-size: 24px;
		background-color:#ffce34;
		font-weight: 600;
		border: none;
	}
	
</style>
